body{ 
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, #A8A9AD, #003b59);
	background-attachment: fixed;

	width: 100%;
}

* {
	box-sizing: border-box;
}

html{
	min-width: 100%;
}

.navbar .search-nav{
	display: flex; 
}

.navbar .search-nav .secondary-search button:hover{
	background-color: #b8ceed;
}

.navbar{
	top: 0;
}

.news-details{
	width: auto;
	height: 60px;
	font-size: 32px;

	padding-top: 5%;
}

